//---Susy configuration---
$susy: (
  columns:12,
  gutters:1/6,
  global-box-sizing: border-box
);

body {
  background-color: white;
  font-family: $source_sans;
}

.title {
  font-size: 5em;
  font-weight: lighter;
}
