//---Susy configuration---
$susy: (
  'columns': susy-repeat(12),
  'gutters': 0.25,
  'spread': 'narrow',
  'container-spread': 'narrow',
);

body {
  background-color: #fff;
  font-family: "Source Sans Pro","Helvetica Neue","Helvetica","Arial",sans-serif;
}

.title {
  font-size: 5em;
  font-weight: lighter;
}
