//---Susy configuration---
$susy: (
  'columns': susy-repeat(12),
  'gutters': 0.25,
  'spread': 'narrow',
  'container-spread': 'narrow',
);

body {
  background-color: #fff;
  font-family: "Source Sans Pro","Helvetica Neue","Helvetica","Arial",sans-serif;
}

.content {
  margin-left: span(1);
  width: span(8);

}
.title {
  font-size: 5em;
  font-weight: lighter;
}
.aside {
  width: span(3 last);
}
