/* Coolors Exported Palette - coolors.co/86e8b4-fcf6b1-f7b32b-f72c25-2d1e2f */

$color_green: rgba(134, 232, 180, 1);
$color_yellow: rgba(252, 246, 177, 1);
$color_orange: rgba(247, 179, 43, 1);
$color_red: rgba(247, 44, 37, 1);
$color_purple: rgba(45, 30, 47, 1);

$source_sans: "Source Sans Pro","Helvetica Neue","Helvetica","Arial",sans-serif;
