/* Coolors Exported Palette - coolors.co/86e8b4-fcf6b1-f7b32b-f72c25-2d1e2f */

$color_green: rgba(89, 195, 195, 1);
$color_yellow: rgba(235, 235, 235, 1);
$color_orange: rgba(64, 98, 187, 1);
$color_red: rgba(244, 91, 105, 1);
$color_purple: rgba(82, 72, 156, 1);

$source_sans: "Source Sans Pro","Helvetica Neue","Helvetica","Arial",sans-serif;

$small_screen: 48em;
$medium_screen: 64em;
$large_screen: 72em;

// Font-Size
$base-font-size: 16px;

// Line-Height
$base-line-height: 1.5;
$header-line-height: 1.25;
